* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: red;
}
ul {
  list-style: decimal;
}

.container {
  padding: 35px;
  width: 850px;
  line-height: 2rem;
  display: flex;
  padding: 30px;
  gap: 5rem;
}
.heading {
  text-align: center;
  margin-bottom: 20px;
}
.tabUrls {
  padding: 20px;
}
.domain-container {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  line-height: 2rem;
  gap: 2rem;
}
/* .time {
  justify-content: end;
} */
canvas {
  height: 400px;
  width: 400px;
}
