* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: red;
}
ul {
  list-style: decimal;
}

.container {
  padding: 35px;
  width: 100%;
  line-height: 2rem;
  display: flex;
  padding: 30px;
  gap: 2rem;
}
.heading {
  text-align: center;
  margin-bottom: 20px;
}
#tabUrls::-webkit-scrollbar {
  display: none;
}
#tabUrls {
  width: 300px;
  display: grid;
  height: 300px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  /* font-weight: 500; */
  font-size: 12px;
  margin-top: 20px;
  overflow: scroll;
}

.domain-container {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  line-height: 2rem;
  font-size: 15px;
  gap: 2rem;
}
.time {
  display: flex;
  justify-content: start;
}

canvas {
  height: 300px;
  width: 400px;
  margin-top: 20px;
  overflow: scroll;
  text-align: center;
}
.btn-arrow {
  padding: 5px;
  border: none;
  background-color: cornflowerblue;
}

.calender {
  border: none;
  margin-top: 20px;
  margin: 8px;
}
.calender:focus {
  outline: none;
  box-shadow: inset 0px 0px 0.5px #222;
}
